</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div>
    <a href="#Aboutus">
    <img src="https://i.ibb.co/HhLmH0M/Logo-Makr-3y-YAz4.png"width="50" height="40" class="d-inline-block align-top" alt="logo">
  </a>
  </div>
  <a class="navbar-brand" href="#">Weblyzer</a>
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Features">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#Pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#Signup">Sign-up</a>
      </li>
    </ul>
     </div>
</nav>
 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center thankyou" id="Pricing">
      <h1 class="display-4">Thanks {{test}}, for your interest you will be getting a call from us shortly!</h1>
  <div> 